@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(10, 10, 10);
  color: white;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.loader {
  width: 100px;
  aspect-ratio: 1;
  display: grid;
  border: 8px solid rgb(10, 10, 10);
  border-radius: 50%;
  border-right-color: white;
  animation: l15 1s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}

.loader::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes l15 {
  100% {
    transform: rotate(1turn);
  }
}
#preloader {
  background-color: rgb(10, 10, 10);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  color: white;
  font-family: "Boldonse", system-ui;
  font-weight: 100;
  font-size: 22px;
  gap: 60px;
}

.header {
  padding: 20px 0px;
}
.header .navbar .navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navbar .navbar__wrapper .first__logo h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-size: 40px;
}
.header .navbar .navbar__wrapper .second__links {
  display: flex;
  gap: 30px;
}
.header .navbar .navbar__wrapper .second__links .navbar__links {
  text-decoration: none;
  color: #C7C7C7;
  font-family: sans-serif;
  font-size: 20px;
}
.header .navbar .navbar__wrapper .second__links .navbar__icon {
  font-size: 34px;
  padding: 6px 10px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 0px solid black;
  display: none;
}
.header .navbar .navbar__wrapper .second__links .navbar__icon:hover {
  border: 1px solid white;
}
.header .navbar .links__dropdown {
  display: none;
  flex-direction: column;
  gap: 20px;
  height: 0px;
  overflow: hidden;
  margin-top: 20px;
  transition: all 1s;
}
.header .navbar .links__dropdown .navbar__links {
  text-decoration: none;
  color: #C7C7C7;
  font-family: sans-serif;
  font-size: 20px;
}

.links__dropdown--active {
  height: 170px !important;
}

@media only screen and (max-width: 768px) {
  .header .navbar .navbar__wrapper .second__links .navbar__links {
    display: none;
  }
  .header .navbar .navbar__wrapper .second__links .navbar__icon {
    display: inline-block;
  }
  .header .navbar .links__dropdown {
    display: flex;
  }
}
.hero {
  margin-top: 30px;
}
.hero .hero__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.hero .hero__wrapper .first__hero {
  width: 50%;
  font-family: sans-serif;
}
.hero .hero__wrapper .first__hero .inline-block__holder {
  display: inline-block;
}
.hero .hero__wrapper .first__hero .welcoming__text {
  border-right: 2px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1s steps(7), cursor 0.4s step-end infinite alternate;
}
.hero .hero__wrapper .first__hero .hero__text {
  font-size: 66px;
  font-family: "Bebas Neue", sans-serif;
}
.hero .hero__wrapper .first__hero .small__introduction {
  color: #C7C7C7;
}
.hero .hero__wrapper .first__hero .contact__divs {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.hero .hero__wrapper .first__hero .contact__divs .hero__contact--btn {
  border-radius: 26px;
  padding: 16px 32px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  background-color: #D3E97A;
}
.hero .hero__wrapper .first__hero .contact__divs .portfolio__btn {
  padding: 16px 18px;
  border-radius: 50%;
  font-size: 16px;
  border: none;
  color: #D3E97A;
  background-color: #222222;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@media only screen and (max-width: 992px) {
  .hero .hero__wrapper {
    flex-direction: column;
  }
  .hero .hero__wrapper .first__hero {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */