*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(10, 10, 10, 1);
    color: white;
}

*::selection {
  background-color: #D3E97A;
  color: #0A0A0A;
}

html{
  scroll-behavior: smooth;
}

.toTop{
  position: fixed;
  bottom: -100px;
  transition: all .2s;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 33px;
  right: 50px;
  background-color: #D3E97A;
  color: #0A0A0A;
  border-radius: 50%;
  z-index: 1000;
}

 .toTop:hover{
  background-color: #8a9850;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  
  @media (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
  }
  