.hero {
  margin-top: 30px;
  margin-bottom: 70px;
  .hero__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    .first__hero {
      width: 50%;
      font-family: sans-serif;

      .inline-block__holder {
        display: inline-block;
      }
      .welcoming__text {
        border-right: 2px solid;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        animation: typing 0.5s steps(7), cursor 0.4s step-end infinite alternate;
      }

      .hero__text {
        font-size: 66px;
        font-family: "Bebas Neue", sans-serif;
      }
      
      .lang_ru{
        font-size: 37px;
        font-weight: 800;
      }
      .lang_uz{
      font-size: 56px;
      }

      .small__introduction {
        color: #c7c7c7;
      }
      .contact__divs {
        margin-top: 20px;
        display: flex;
        gap: 10px;
        .hero__contact--btn {
          border-radius: 26px;
          padding: 16px 32px;
          border: none;
          font-size: 16px;
          font-weight: 600;
          background-color: #d3e97a;
          color: #0a0a0a;
        }
        .portfolio__btn {
          padding: 16px 18px;
          border-radius: 50%;
          font-size: 16px;
          border: none;
          color: #d3e97a;
          background-color: #222222;
        }
      }
    }
    .second__hero {
      display: flex;
      justify-content: center;
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}


@media only screen and (max-width: 1200px) {
  .hero {
    .hero__wrapper {
      .first__hero {
        .lang_en{
          font-size: 50px;
         }
         .lang_uz{
          font-size: 45px;
         }
         .lang_ru{
          font-size: 27px;
         }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .hero {
    .hero__wrapper {
      gap: 30px;
      .first__hero {
        width: 100%;
        .lang_en{
          font-size: 40px;
        }
        .lang_uz{
          font-size: 35px;
        }
      }
      .second__hero {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    .hero__wrapper {
      gap: 10px;
      .first__hero {
        width: 100%;
        .lang_en{
          font-size: 34px;
        }
        .contact__divs{
          .hero__contact--btn{
            font-size: 13px;
            padding: 16px 11px;
          } 
        }
      }
      .second__hero {
        width: 100%;
      }
    }
  }
}



@media only screen and (max-width: 560px) {
  .hero {
    .hero__wrapper {
      flex-direction: column;
      .first__hero {
        width: 100%;
      }
      .second__hero{
        margin-top: 30px;
      }
    }
  }
}


